<h1>Agregar Productos</h1>

<div class="main-container">
        <form>
            <label for="title">Titulo</label>
            <input name="title">
            <label for="price">Precio</label>
            <input name="price">
            <label for="thumbnail">Imagen</label>
            <input name="thumbnail">

            <input type="submit">
        </form>

        

    </div>

