html
    body
        div(class="container")
            form
                label(for="title")
                input(name="text")
                label(for="price")
                input(name="text")
                label(for="thumbnail")
                input(name="text")
                input(type="submit")
